*~

*.o
*.so
*.lo
*.la
*.pyc
*.tar.gz
*.tar.bz2

/src/yass
/draw/yass-draw

output.txt
output.pdf

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

.libs/
.deps
/libyass/libyass.pc

/man/*.1
/man/*.5
/man/schedulers/*.5

/t/trash

/tests/gen_tasks
/tests/log
/tests/tests
/tests/*.data
/tests/*.pdf
/tests/out
/tests/sched
/tests/stats
/tests/tmp
/tests/usage

TAGS
